.clear {
	clear:both;
}

.circle {
	font-weight: bold;
	font-style: italic;
	position: relative;
	border-radius: 100%;
	background: #f84342;
	border: 2px solid black;
	width: 80px;
	height: 80px;
	margin: 10px 10px;
	text-align: center;
	color: #FFF;
	font-size: 10px;
	line-height: 16px;
	cursor: pointer;
	transform:rotate(11deg);
	-ms-transform:rotate(11deg); /* IE 9 */
	-webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
	}

.slogan {
	font-family: "Palatino Linotype", Palatino, Palladio, 
"URW Palladio L", "Book Antiqua", Baskervill, "Bookman OldStyle", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Centruey Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
	font-style: italic;
	padding-top: 40px;
	}

.links {
	color: black;
	font-size: 25px;
	font-family: 'nobileregular', sans-serif;
	font-weight: bold;
	padding-top: 30px;
	text-align: center;
	}

header {
	border-top: 9px solid #222222;
}

hr {
	clear:both;
}

h1 {
	font-family: 'nobileregular', sans-serif;
	font-weight: bold;
	font-size: 48px;
}

h2 {
	font-family: 'nobileitalic', sans-serif;
}

.next-quote {
	color: #f84342;
	font-family: 'nobileregular', sans-serif;
	font-size: 20px;
}

.logo:hover {
	text-decoration: none;
}

.about {
		font-family: "Palatino Linotype", Palatino, Palladio, 
"URW Palladio L", "Book Antiqua", Baskervill, "Bookman OldStyle", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Centruey Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

@media (max-width: 750px) {
	.footer-blurb, .footer-blurb2 {
		text-align: center;
		padding: 5px;
	}
}

.modal {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

h2 span {
	font-family: 'nobileregular', sans-serif;
	color: #dddddd;
}

::selection {
	background-color: #f84342;
}
